*
{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
  font-family:sans-serif;
  transition:all 0.3s ease-in-out;
}
.stock
{
/*  border:2px solid red;*/
  width:100%;
  position: relative;
}
.head
{
  width:100%;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  background:rgb(226,185,250);
  padding:5px;
  position: fixed;
  z-index: 999;
}
.head p
{
  padding:5px;
  font-size:20px;
  font-weight:900;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}
.subject
{
  position:relative;
  z-index:999;
}
.head p:hover
{
  background:red;
  transform:scale(0.9);
  color:white;
}
.categoryhover
{
  box-shadow:0px 0px 3px;
  width:300px;
  height:500px;
  padding:10px 0px 20px 10px;
  position:absolute;
  top:55px;
  left:300px;
  background:white;
  transform:scale(0);
  border-radius:10px;
  z-index:999;
}
.categoryhover p
{
  padding:10px;
  font-size:13px;
  font-weight:100;
  background:white;
}
.ditelis
{
  box-shadow:0px 0px 10px;
  position:absolute;
  top:60px;
  left:690px;
  width:230px;
  height:200px;
  padding:10px;
  background:white;
  display:flex;
  flex-direction:column;
  gap:20px;
  transform:scale(0);
  border-radius:10px;
}
.ser
{
  box-shadow:0px 0px 10px;
  background:white;
  position:absolute;
  top:60px;
  right:100px;
  padding:15px;
  width:150px;
  display:flex;
  flex-direction:column;
  gap:20px;
  align-items:center;
  transform:scale(0);
  border-radius:10px;
}
.ser .p:hover
{
  background:#36f;
  color:white;
  padding:10px;
  cursor:pointer;
}

.cut
{
  position:absolute;
  right:10px;
  top:10px;
  border:2px solid;
  padding:5px;
  border-radius:50%;
  font-size:30px;
  background:red;
  color:white;
  cursor:pointer;
}
.head img
{
  width:20px;
}
input
{
  width:250px;
  height:30px;
/*  border:1px solid gray;*/
  outline:none;
  box-shadow:0px 0px 10px;
  padding:5px;
}
.img
{
  position:relative;
}
.img img
{
  margin-top: 57px;
  width:100%;
  height:500px;
  position:relative
}
.img .logo
{
  width:150px;
  height:150px;
  position:absolute;
  z-index:1;
  top:-40px;
  right:10px;
  border-radius:50%;
}
.boxs
{
  position:absolute;
  top:130px;
  width:250px;
  background:rgba(0,245,0,0.3);
  left:50px;
  padding:20px;
  border-radius:10px;
}
.boxs:hover
{
  transform:scale(1.2);
  font-weight:bold;
}
.h2class
{
  margin-top:10px;
}
.boxs p
{
  font-size:15px;
  margin-top:15px;
  color:white;
  text-align:justify;
}
h1
{
    text-align:center;
    padding: 10px;
}
input
{
  position:absolute;
  z-index:1;
  top:50px;
  left:400px;
  width:400px;
  height:40px;
  outline:none;
  font-size:20px;
  padding:10px;
  border-radius:10px;
  
}
.servicebox
{
  width:100%;
/*  border:2px solid;*/
  display:flex;
  gap:20px;
  padding:30px;
  flex-wrap:wrap;
  justify-content:center;
}
.servicepage
{
  box-shadow:0px 0px 4px;
  width:280px;
/*   height:370px; */
  display:flex;
  background:rgb(240,220,239);
  flex-direction:column;
  padding-bottom:10px;
}
.servicepage:hover
{
  transform:scale(1.1);
}
.servicepage img
{
  width:100%;
  height:45%;
}
.line
{
  padding:10px;
  position:relative;
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.line p
{
  font-size:13px;
  font-weight:bold;
  color:
}
.line h3
{
  margin-bottom:5px;
}
.line h3:hover
{
  color:red;
}
.line button
{
  margin:10px;
  
}
.button
{
  width:100%;
  height:40px;
  text-align:end;
 
}
button
{
  border:none;
  background:green;
  width:110px;
  height:40px;
  border-radius:10px;
}

button:hover
{
  background:#36f;
  color:white;
  cursor:pointer;
  
}


/* ============topic======== */
.title
{
/*   border:2px solid; */
  padding:10px;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin-top:30px;
}
.topic
{
/*   border:2px solid red; */
  padding:10px; 
}
.box-1
{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.sub-box
{
  width:700px;
  height:620px;
  padding:20px;
  box-shadow:0px 0px 3px;
}
.sub-box img
{
  width:100%;
  height:400px;
  margin-bottom:20px;
}
.button-right
{
  margin-top:10px;
  width:100%;
  text-align:end;
}
.btn
{
  width:100px;
  height:40px;
  border:none;
  background:green;
  font-size:15px;
  padding:10px 10px 10px 10px;
}
.btn:hover
{
  background:#36f;
  color:white;
  cursor:pointer;
}
.sub-box h2
{
  margin-bottom:10px;
}
h2:hover
{
  cursor:pointer;
  color:blue;
}
.books
{
/*   border:2px solid cyan; */
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:20px;
}
.books p
{
  color:blue;
}
.book-1
{
  box-shadow:0px 0px 3px;
  width:350px;
  height:400px;
  padding:10px;
}
.book-1 img
{
  width:70%;
  margin-left:50px;
}
.reset-post
{
  width:350px;
  padding:10px;
  height:350px;
  box-shadow:0px 0px 3px;
}
.reset-post p
{
  margin-top:10px;
  cursor:pointer;
}
.category
{
  box-shadow:0px 0px 4px;
  padding:10px 30px;
}
.category  p
{
  margin-top:10px;
  cursor:pointer;
}

/* ============prev next============= */

.btns
{
  display:flex;
  justify-content:space-between
}
.box
{
  min-width:20px;
  border:2px solid black;
  font-size:25px;
  text-align:center;
  padding:0px 10px;
}

/* ===========social============= */
.stock .social
{
   box-shadow:0px 0px 4px;
   padding:20px;
   display:flex;
   flex-direction:column;
   gap:10px;
   position:absolute;
   position:fixed;
   top:350px;
   background:rgba(255,255,255,0.6);
   left:0px;
  
}
.social a img
{
  width:40px;
}

/*========next-prev========*/
.prev-next
{
/*  border:2px solid;*/
  display:flex;
  justify-content:space-between;
  padding:10px;
  cursor:pointer;
}
.prev-next .pn
{
/*  border:2px solid;*/
  background:black;
  padding:10px;
  color:white;
}
.pn:active
{
  background:#36f;
}
.footer
{
/*  border:2px solid red;*/
  width:100%;
  background:rgb(226,185,250);
  padding: 20px;
}
.foot
{
  display: flex;
  flex-direction:column;
  gap:20px;
  align-items: center;
}

.number-box
{
  display:flex;
  gap:20px;
}
.num,.sumit
{
  color:blue;
}

/* ===============js code in css style=================== */
/* ----------------btn click------------------- */
.stock .treding-page1
{
  position:absolute;
  top:0px;
  background:white;
  width:100%;
  z-index:3;
  transform:scale(0);
  margin-top:60px;
  padding:20px;
  box-shadow:0px 0px 6px ;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:30px;
}
.treding-page1 h2
{
  font-size: 50px;
  margin-bottom:20px;
  text-align:center;
}
.treding-page
{
  display:flex;
  flex-direction:column;
  align-items:center;
/*   gap:30px; */
}
.treding-page h2
{
  font-size:30px;
}
.treding-show-page
{
  box-shadow:0px 0px 5px;
  padding:20px;
  width:900px;
}
.treding-show-page img 
{
  width:100%;
  margin-bottom:20px;
  box-shadow:0px 0px 1px;
}
.btn-right-side
{
  text-align:end;
}
.treding-page1 .prev-next
{
  width:900px;
}
/* --------------stock market course----------------- */

.stock .stock-course-js
{
  position:absolute;
  top:0px;
  background:white;
  width:100%;
  z-index:3;
  transform:scale(0);
  margin-top:60px;
  padding:20px;
  box-shadow:0px 0px 6px ;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:30px;
}

.stock-course-js h2
{
  font-size: 50px;
  margin-bottom:20px;
  text-align:center;
}
.stock-course-page
{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:30px;
}
.stock-course-page h2
{
  font-size:30px;
}
.stock-show-page
{
  box-shadow:0px 0px 5px;
  padding:20px;
  width:900px;
}
.stock-show-page img 
{
  width:100%;
  margin-bottom:20px;
  box-shadow:0px 0px 1px;
}
.btn-right-side
{
  text-align:end;
}
.stock-course-js .prev-next
{
  width:900px;
}